.marker-pop {
  margin-top: -28px;
  cursor: pointer;
  animation: show 0.3s ease-out forwards, wobble 1.5s ease-in-out 0.3s forwards;
  transform-origin: bottom center;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(2.5deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  65% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}